;; File is read using aero see https://github.com/juxt/aero
{:envs #include "/etc/jsk/envs.edn"
 :secrets #include "/etc/jsk/secrets.edn"

 :log-file #profile {:dev "./log/jsk.log"
                     :default "/var/log/jsk/jsk.log"}

 :settings {:smtp ^:ref [:secrets :settings :smtp]
            :site ^:ref [:secrets :settings :site]
            :auth {:google ^:ref [:secrets :settings :auth :google]
                   }}
 :jsk-token ^:ref [:secrets :jsk-token]

 :datomic-uri #profile{:dev "datomic:free://localhost:4334/jsk-dev"
                       :stg "datomic:free://localhost:4334/jsk-stg"
                       :tst "datomic:mem://localhost:4334/jsk-test"
                       :prd "datomic:free://localhost:4334/jsk"}}
