[
 {:db/id "jsk"
  :db/ident :db.part/jsk}
  [:db/add :db.part/db :db.install/partition "jsk"]
 ;; Channel Type enumerations
 ;{:db/ident :channel-type/email}
 ;{:db/ident :channel-type/mobile}

 ;; Admin Google OAuth Settings
 {:db/id #db/id[:db.part/db]
  :db/ident :setting.auth.google/client-id
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db/doc "Google OAuth Client ID"}

 {:db/id #db/id[:db.part/db]
  :db/ident :setting.auth.google/allowed-domain
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db/doc "Google OAuth Allowed Domain"}

 ;; Admin SMTP Settings
 {:db/id #db/id[:db.part/db]
  :db/ident :setting.smtp/host
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "SMTP Host"}

 {:db/id #db/id[:db.part/db]
  :db/ident :setting.smtp/port
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "SMTP Port"}

 {:db/id #db/id[:db.part/db]
  :db/ident :setting.smtp/security
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one
  :db/doc "SMTP Security, :none, :tls, :ssl"}

 {:db/id #db/id[:db.part/db]
  :db/ident :setting.smtp/username
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "SMTP Username"}

 {:db/id #db/id[:db.part/db]
  :db/ident :setting.smtp/password
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "SMTP Password"}

 ;; Admin Slack Settings
 {:db/id #db/id[:db.part/db]
  :db/ident :setting.slack/token
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Slack API Token"}

 ;; Admin Site Name
 {:db/id #db/id[:db.part/db]
  :db/ident :setting.site/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Site name"}

 {:db/id #db/id[:db.part/db]
  :db/ident :setting.site/url
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Site uri"}

 {:db/id #db/id[:db.part/db]
  :db/ident :setting.site/admin-email
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Email address for help requests"}

 ;; Permission
 {:db/id #db/id[:db.part/db]
  :db/ident :permission/name
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db/doc "Permission name."}

 {:db/id #db/id[:db.part/db]
  :db/ident :permission/desc
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Permission description."}

 ;; Role
 {:db/id #db/id[:db.part/db]
  :db/ident :role/name
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db/doc "Role name."}

 {:db/id #db/id[:db.part/db]
  :db/ident :role/desc
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Roles description."}

 {:db/id #db/id[:db.part/db]
  :db/ident :role/permissions
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "Role permissions."}

 ;; Channel
 {:db/id #db/id[:db.part/db]
  :db/ident :channel/identifier
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db/doc "Channel identifier ie foo@gmail.com, +1212345678"}

 {:db/id #db/id[:db.part/db]
  :db/ident :channel/type
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one
  :db/doc "Channel type, ie e-mail, mobile"}

 {:db/id #db/id[:db.part/db]
  :db/ident :channel/token
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Token used for channel verification."}

 {:db/id #db/id[:db.part/db]
  :db/ident :channel/token-expiration
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "Channel token's expiration."}

 {:db/id #db/id[:db.part/db]
  :db/ident :channel/verified-at
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "Channel verification datetime."}

 ;; User
 {:db/id #db/id[:db.part/db]
  :db/ident :user/first-name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "User's first name."}

 {:db/id #db/id[:db.part/db]
  :db/ident :user/last-name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "User's last name."}

 {:db/id #db/id[:db.part/db]
  :db/ident :user/password-hash
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "User's hashed password."}

 {:db/id #db/id[:db.part/db]
  :db/ident :user/channels
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/isComponent true ;; retracting user retracts channels
  :db/doc "A user's channels: email, mobile, etc."}

 {:db/id #db/id[:db.part/db]
  :db/ident :user/roles
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "A set of user roles."}

 ;; Tag
 {:db/id #db/id[:db.part/db]
  :db/ident :tag/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db/doc "Tag name."}

 ;; Agent
 {:db/id #db/id[:db.part/db]
  :db/ident :agent/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/value
  :db/doc "Agent name."}

 ;; Alert
 {:db/id #db/id[:db.part/db]
  :db/ident :alert/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/value
  :db/doc "Alert name."}

 {:db/id #db/id[:db.part/db]
  :db/ident :alert/desc
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Alert description."}

 {:db/id #db/id[:db.part/db]
  :db/ident :alert/channels
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "Alert notification channels"}

 ;; Schedule
 {:db/id #db/id[:db.part/db]
  :db/ident :schedule/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/value
  :db/doc "Schedule name."}

 {:db/id #db/id[:db.part/db]
  :db/ident :schedule/desc
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Schedule description."}

 {:db/id #db/id[:db.part/db]
  :db/ident :schedule/cron-expr
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Cron Expression"}

 ;; Job
 {:db/id #db/id[:db.part/db]
  :db/ident :job/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/value
  :db/doc "Job name"}

 {:db/id #db/id[:db.part/db]
  :db/ident :job/desc
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Job desc"}

 {:db/id #db/id[:db.part/db]
  :db/ident :job/behavior
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one
  :db/doc "Job behavior."}

 {:db/id #db/id[:db.part/db]
  :db/ident :job/type
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one
  :db/doc "Job type. ie shell"}

 {:db/id #db/id[:db.part/db]
  :db/ident :job/enabled?
  :db/valueType :db.type/boolean
  :db/cardinality :db.cardinality/one
  :db/doc "Job enabled?"}

 {:db/id #db/id[:db.part/db]
  :db/ident :job/props
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Job properties as edn string."}

 {:db/id #db/id[:db.part/db]
  :db/ident :job/context-key
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Job context key. Used with looping to pass values between jobs."}

 {:db/id #db/id[:db.part/db]
  :db/ident :job/max-retries
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "Max retries when job fails."}

 {:db/id #db/id[:db.part/db]
  :db/ident :job/max-concurrent
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "Max concurrent instances of job."}

 {:db/id #db/id[:db.part/db]
  :db/ident :job/timeout-ms
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "Timeout in milliseconds"}

 {:db/id #db/id[:db.part/db]
  :db/ident :job/schedules
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "Job's schedules."}

 {:db/id #db/id[:db.part/db]
  :db/ident :job/alerts
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "Job's alerts."}

 {:db/id #db/id[:db.part/db]
  :db/ident :job/tags
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "Job's tags."}

 ;; Workflow
 {:db/id #db/id[:db.part/db]
  :db/ident :workflow/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/value
  :db/doc "Workflow name"}

 {:db/id #db/id[:db.part/db]
  :db/ident :workflow/desc
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Workflow desc"}

 {:db/id #db/id[:db.part/db]
  :db/ident :workflow/enabled?
  :db/valueType :db.type/boolean
  :db/cardinality :db.cardinality/one
  :db/doc "Workflow enabled?"}

 {:db/id #db/id[:db.part/db]
  :db/ident :workflow/schedules
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "Workflow's schedules."}

 {:db/id #db/id[:db.part/db]
  :db/ident :workflow/schedules
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "Workflow's schedules."}

 {:db/id #db/id[:db.part/db]
  :db/ident :workflow/alerts
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "Workflow's alerts."}

 {:db/id #db/id[:db.part/db]
  :db/ident :workflow/tags
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "Workflow's tags."}]
