<!doctype html>
<html>
  <head>
    <meta id="google-signin-client-id" name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
    <script>
function onSignIn(googleUser) {
  jsk.main.google_sign_in(googleUser);
}
function signOut() {
  var auth2 = gapi.auth2.getAuthInstance();
  auth2.signOut().then(function () {
    console.log('User signed out.');
  });
}
    </script>
    <script src="https://apis.google.com/js/platform.js"></script>
    <script id="jsk-js" src="/js/jsk-ui.js?v=${version}" type="text/javascript"></script>
  </head>
  <body>
    <h3>JSK Login</h3>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <p>
    <a href="#" onclick="signOut();">Sign out</a>
    </p>

    <input id="api-host" type="hidden">
    <input id="login-url" type="hidden">
    <input id="init-component" type="hidden" name="init-component" value="main">
    <div id="app">
    </div>
  </body>
</html>
